@charset "UTF-8";
/* Site width
==================================== */
/* Breakpoints
==================================== */
/* Grid
==================================== */
/* Width
==================================== */
/* Colors
==================================== */
@import url("http://fast.fonts.com/t/1.css?apiType=css&projectid=a4574e90-bf73-4612-8a19-20082fc4b6e8");
@font-face {
  font-family: "Avant Garde";
  src: url("../fonts/85564178-fd88-4387-9226-0e632723ca24.eot?iefix") format("eot"); }

@font-face {
  font-family: "Avant Garde";
  src: url("../fonts/85564178-fd88-4387-9226-0e632723ca24.eot?iefix");
  src: url("../fonts/e9a79553-7093-47c7-8d9c-70dc3619e94b.woff") format("woff"), url("../fonts/7265b8d0-a67c-4a8b-84aa-273d1759270a.ttf") format("truetype"), url("../fonts/75d377f2-28ee-43f8-b231-44f8eba218c4.svg#75d377f2-28ee-43f8-b231-44f8eba218c4") format("svg"); }

*, *:before, *:after {
  box-sizing: border-box; }

body {
  margin: 0;
  background-color: white; }

nav ul {
  list-style: none;
  padding-left: 0;
  margin: 0; }

img {
  vertical-align: top;
  max-width: 100%;
  height: auto; }

ul, ol, dl {
  padding-left: 1.5rem; }

hr {
  border: none;
  height: 2px;
  background-color: white; }

.section:after,
.cf:after {
  content: "";
  display: table;
  clear: both; }

.invisible {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }

.hidden {
  display: none; }

.mq {
  background-color: deeppink;
  font-family: sans-serif;
  font-weight: bold;
  z-index: 99;
  position: fixed;
  padding: 4px 6px 2px 6px;
  border-radius: 2px 0 0 0;
  color: yellow;
  bottom: 0;
  right: 0;
  letter-spacing: 0.05em;
  font-size: 10px; }
  .mq:before {
    margin-right: 1rem; }
  .mq:before {
    content: 'Min: –'; }
  @media (min-width: 28rem) {
    .mq:before {
      content: 'Min: XS'; } }
  @media (min-width: 40rem) {
    .mq:before {
      content: 'Min: SM'; } }
  @media (min-width: 54rem) {
    .mq:before {
      content: 'Min: MD'; } }
  @media (min-width: 70rem) {
    .mq:before {
      content: 'Min: LG'; } }
  @media (min-width: 80rem) {
    .mq:before {
      content: 'Min: XL'; } }
  .mq:after {
    content: 'Max: –'; }
  @media (max-width: 80rem) {
    .mq:after {
      content: 'Max: XL'; } }
  @media (max-width: 70rem) {
    .mq:after {
      content: 'Max: LG'; } }
  @media (max-width: 54rem) {
    .mq:after {
      content: 'Max: MD'; } }
  @media (max-width: 40rem) {
    .mq:after {
      content: 'Max: SM'; } }
  @media (max-width: 28rem) {
    .mq:after {
      content: 'Max: XS'; } }

body {
  -webkit-font-smoothing: antialiased;
  font-family: Georgia, Times, serif;
  font-size: 100%;
  line-height: 1.6;
  color: black; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Avant Garde", sans-serif;
  font-weight: normal;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  margin: 0; }

h1, .h1 {
  font-size: 40px;
  text-indent: -1px; }
  @media (min-width: 54rem) {
    h1, .h1 {
      font-size: 60px;
      text-indent: -2px; } }

h2, .h2 {
  font-size: 30px; }

h3, .h3 {
  font-size: 24px; }

h4, .h4 {
  font-size: 14px;
  line-height: 1.4;
  text-transform: uppercase; }

p {
  margin-bottom: 1.6em;
  margin-top: 0px; }

a {
  color: darkblue; }

.row {
  max-width: 80rem;
  margin: auto-1rem;
  list-style: none;
  padding: 0; }

.col {
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
  float: left; }

.row--inline {
  display: inline-block;
  letter-spacing: -0.31em !important;
  word-spacing: -0.43em !important; }

.row--inline > .col {
  letter-spacing: normal;
  word-spacing: normal; }

.row--flex {
  display: inline-block;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  letter-spacing: -0.31em !important;
  word-spacing: -0.43em !important; }

.row--flex > .col {
  letter-spacing: normal;
  word-spacing: normal;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto; }

.col {
  outline: 1px solid black; }

.row--flush {
  margin: auto 0; }

.row--flush > .col {
  padding-left: 0;
  padding-right: 0; }

.w-1\/1 {
  width: 100% !important; }

.w-1\/2 {
  width: calc(1/2 * 100%); }

.w-1\/3 {
  width: calc(1/3 * 100%); }

.w-2\/3 {
  width: calc(2/3 * 100%); }

.w-1\/4 {
  width: calc(1/4 * 100%); }

.w-2\/4 {
  width: calc(2/4 * 100%); }

.w-3\/4 {
  width: calc(3/4 * 100%); }

.w-1\/5 {
  width: calc(1/5 * 100%); }

.w-2\/5 {
  width: calc(2/5 * 100%); }

.w-3\/5 {
  width: calc(3/5 * 100%); }

.w-4\/5 {
  width: calc(4/5 * 100%); }

@media (min-width: 28rem) {
  .w-1\/1\@xs {
    width: 100% !important; }
  .w-1\/2\@xs {
    width: calc(1/2 * 100%); }
  .w-1\/3\@xs {
    width: calc(1/3 * 100%); }
  .w-2\/3\@xs {
    width: calc(2/3 * 100%); }
  .w-1\/4\@xs {
    width: calc(1/4 * 100%); }
  .w-2\/4\@xs {
    width: calc(2/4 * 100%); }
  .w-3\/4\@xs {
    width: calc(3/4 * 100%); }
  .w-1\/5\@xs {
    width: calc(1/5 * 100%); }
  .w-2\/5\@xs {
    width: calc(2/5 * 100%); }
  .w-3\/5\@xs {
    width: calc(3/5 * 100%); }
  .w-4\/5\@xs {
    width: calc(4/5 * 100%); }
  .w-1\/1\@xs {
    width: 100% !important; }
  .w-1\/2\@xs {
    width: calc(1/2 * 100%); }
  .w-1\/3\@xs {
    width: calc(1/3 * 100%); }
  .w-2\/3\@xs {
    width: calc(2/3 * 100%); }
  .w-1\/4\@xs {
    width: calc(1/4 * 100%); }
  .w-2\/4\@xs {
    width: calc(2/4 * 100%); }
  .w-3\/4\@xs {
    width: calc(3/4 * 100%); }
  .w-1\/5\@xs {
    width: calc(1/5 * 100%); }
  .w-2\/5\@xs {
    width: calc(2/5 * 100%); }
  .w-3\/5\@xs {
    width: calc(3/5 * 100%); }
  .w-4\/5\@xs {
    width: calc(4/5 * 100%); }
  .w-1\/1\@xs {
    width: 100% !important; }
  .w-1\/2\@xs {
    width: calc(1/2 * 100%); }
  .w-1\/3\@xs {
    width: calc(1/3 * 100%); }
  .w-2\/3\@xs {
    width: calc(2/3 * 100%); }
  .w-1\/4\@xs {
    width: calc(1/4 * 100%); }
  .w-2\/4\@xs {
    width: calc(2/4 * 100%); }
  .w-3\/4\@xs {
    width: calc(3/4 * 100%); }
  .w-1\/5\@xs {
    width: calc(1/5 * 100%); }
  .w-2\/5\@xs {
    width: calc(2/5 * 100%); }
  .w-3\/5\@xs {
    width: calc(3/5 * 100%); }
  .w-4\/5\@xs {
    width: calc(4/5 * 100%); }
  .w-1\/1\@xs {
    width: 100% !important; }
  .w-1\/2\@xs {
    width: calc(1/2 * 100%); }
  .w-1\/3\@xs {
    width: calc(1/3 * 100%); }
  .w-2\/3\@xs {
    width: calc(2/3 * 100%); }
  .w-1\/4\@xs {
    width: calc(1/4 * 100%); }
  .w-2\/4\@xs {
    width: calc(2/4 * 100%); }
  .w-3\/4\@xs {
    width: calc(3/4 * 100%); }
  .w-1\/5\@xs {
    width: calc(1/5 * 100%); }
  .w-2\/5\@xs {
    width: calc(2/5 * 100%); }
  .w-3\/5\@xs {
    width: calc(3/5 * 100%); }
  .w-4\/5\@xs {
    width: calc(4/5 * 100%); }
  .w-1\/1\@xs {
    width: 100% !important; }
  .w-1\/2\@xs {
    width: calc(1/2 * 100%); }
  .w-1\/3\@xs {
    width: calc(1/3 * 100%); }
  .w-2\/3\@xs {
    width: calc(2/3 * 100%); }
  .w-1\/4\@xs {
    width: calc(1/4 * 100%); }
  .w-2\/4\@xs {
    width: calc(2/4 * 100%); }
  .w-3\/4\@xs {
    width: calc(3/4 * 100%); }
  .w-1\/5\@xs {
    width: calc(1/5 * 100%); }
  .w-2\/5\@xs {
    width: calc(2/5 * 100%); }
  .w-3\/5\@xs {
    width: calc(3/5 * 100%); }
  .w-4\/5\@xs {
    width: calc(4/5 * 100%); } }

@media (min-width: 40rem) {
  .w-1\/1\@sm {
    width: 100% !important; }
  .w-1\/2\@sm {
    width: calc(1/2 * 100%); }
  .w-1\/3\@sm {
    width: calc(1/3 * 100%); }
  .w-2\/3\@sm {
    width: calc(2/3 * 100%); }
  .w-1\/4\@sm {
    width: calc(1/4 * 100%); }
  .w-2\/4\@sm {
    width: calc(2/4 * 100%); }
  .w-3\/4\@sm {
    width: calc(3/4 * 100%); }
  .w-1\/5\@sm {
    width: calc(1/5 * 100%); }
  .w-2\/5\@sm {
    width: calc(2/5 * 100%); }
  .w-3\/5\@sm {
    width: calc(3/5 * 100%); }
  .w-4\/5\@sm {
    width: calc(4/5 * 100%); }
  .w-1\/1\@sm {
    width: 100% !important; }
  .w-1\/2\@sm {
    width: calc(1/2 * 100%); }
  .w-1\/3\@sm {
    width: calc(1/3 * 100%); }
  .w-2\/3\@sm {
    width: calc(2/3 * 100%); }
  .w-1\/4\@sm {
    width: calc(1/4 * 100%); }
  .w-2\/4\@sm {
    width: calc(2/4 * 100%); }
  .w-3\/4\@sm {
    width: calc(3/4 * 100%); }
  .w-1\/5\@sm {
    width: calc(1/5 * 100%); }
  .w-2\/5\@sm {
    width: calc(2/5 * 100%); }
  .w-3\/5\@sm {
    width: calc(3/5 * 100%); }
  .w-4\/5\@sm {
    width: calc(4/5 * 100%); }
  .w-1\/1\@sm {
    width: 100% !important; }
  .w-1\/2\@sm {
    width: calc(1/2 * 100%); }
  .w-1\/3\@sm {
    width: calc(1/3 * 100%); }
  .w-2\/3\@sm {
    width: calc(2/3 * 100%); }
  .w-1\/4\@sm {
    width: calc(1/4 * 100%); }
  .w-2\/4\@sm {
    width: calc(2/4 * 100%); }
  .w-3\/4\@sm {
    width: calc(3/4 * 100%); }
  .w-1\/5\@sm {
    width: calc(1/5 * 100%); }
  .w-2\/5\@sm {
    width: calc(2/5 * 100%); }
  .w-3\/5\@sm {
    width: calc(3/5 * 100%); }
  .w-4\/5\@sm {
    width: calc(4/5 * 100%); }
  .w-1\/1\@sm {
    width: 100% !important; }
  .w-1\/2\@sm {
    width: calc(1/2 * 100%); }
  .w-1\/3\@sm {
    width: calc(1/3 * 100%); }
  .w-2\/3\@sm {
    width: calc(2/3 * 100%); }
  .w-1\/4\@sm {
    width: calc(1/4 * 100%); }
  .w-2\/4\@sm {
    width: calc(2/4 * 100%); }
  .w-3\/4\@sm {
    width: calc(3/4 * 100%); }
  .w-1\/5\@sm {
    width: calc(1/5 * 100%); }
  .w-2\/5\@sm {
    width: calc(2/5 * 100%); }
  .w-3\/5\@sm {
    width: calc(3/5 * 100%); }
  .w-4\/5\@sm {
    width: calc(4/5 * 100%); }
  .w-1\/1\@sm {
    width: 100% !important; }
  .w-1\/2\@sm {
    width: calc(1/2 * 100%); }
  .w-1\/3\@sm {
    width: calc(1/3 * 100%); }
  .w-2\/3\@sm {
    width: calc(2/3 * 100%); }
  .w-1\/4\@sm {
    width: calc(1/4 * 100%); }
  .w-2\/4\@sm {
    width: calc(2/4 * 100%); }
  .w-3\/4\@sm {
    width: calc(3/4 * 100%); }
  .w-1\/5\@sm {
    width: calc(1/5 * 100%); }
  .w-2\/5\@sm {
    width: calc(2/5 * 100%); }
  .w-3\/5\@sm {
    width: calc(3/5 * 100%); }
  .w-4\/5\@sm {
    width: calc(4/5 * 100%); } }

@media (min-width: 54rem) {
  .w-1\/1\@md {
    width: 100% !important; }
  .w-1\/2\@md {
    width: calc(1/2 * 100%); }
  .w-1\/3\@md {
    width: calc(1/3 * 100%); }
  .w-2\/3\@md {
    width: calc(2/3 * 100%); }
  .w-1\/4\@md {
    width: calc(1/4 * 100%); }
  .w-2\/4\@md {
    width: calc(2/4 * 100%); }
  .w-3\/4\@md {
    width: calc(3/4 * 100%); }
  .w-1\/5\@md {
    width: calc(1/5 * 100%); }
  .w-2\/5\@md {
    width: calc(2/5 * 100%); }
  .w-3\/5\@md {
    width: calc(3/5 * 100%); }
  .w-4\/5\@md {
    width: calc(4/5 * 100%); }
  .w-1\/1\@md {
    width: 100% !important; }
  .w-1\/2\@md {
    width: calc(1/2 * 100%); }
  .w-1\/3\@md {
    width: calc(1/3 * 100%); }
  .w-2\/3\@md {
    width: calc(2/3 * 100%); }
  .w-1\/4\@md {
    width: calc(1/4 * 100%); }
  .w-2\/4\@md {
    width: calc(2/4 * 100%); }
  .w-3\/4\@md {
    width: calc(3/4 * 100%); }
  .w-1\/5\@md {
    width: calc(1/5 * 100%); }
  .w-2\/5\@md {
    width: calc(2/5 * 100%); }
  .w-3\/5\@md {
    width: calc(3/5 * 100%); }
  .w-4\/5\@md {
    width: calc(4/5 * 100%); }
  .w-1\/1\@md {
    width: 100% !important; }
  .w-1\/2\@md {
    width: calc(1/2 * 100%); }
  .w-1\/3\@md {
    width: calc(1/3 * 100%); }
  .w-2\/3\@md {
    width: calc(2/3 * 100%); }
  .w-1\/4\@md {
    width: calc(1/4 * 100%); }
  .w-2\/4\@md {
    width: calc(2/4 * 100%); }
  .w-3\/4\@md {
    width: calc(3/4 * 100%); }
  .w-1\/5\@md {
    width: calc(1/5 * 100%); }
  .w-2\/5\@md {
    width: calc(2/5 * 100%); }
  .w-3\/5\@md {
    width: calc(3/5 * 100%); }
  .w-4\/5\@md {
    width: calc(4/5 * 100%); }
  .w-1\/1\@md {
    width: 100% !important; }
  .w-1\/2\@md {
    width: calc(1/2 * 100%); }
  .w-1\/3\@md {
    width: calc(1/3 * 100%); }
  .w-2\/3\@md {
    width: calc(2/3 * 100%); }
  .w-1\/4\@md {
    width: calc(1/4 * 100%); }
  .w-2\/4\@md {
    width: calc(2/4 * 100%); }
  .w-3\/4\@md {
    width: calc(3/4 * 100%); }
  .w-1\/5\@md {
    width: calc(1/5 * 100%); }
  .w-2\/5\@md {
    width: calc(2/5 * 100%); }
  .w-3\/5\@md {
    width: calc(3/5 * 100%); }
  .w-4\/5\@md {
    width: calc(4/5 * 100%); }
  .w-1\/1\@md {
    width: 100% !important; }
  .w-1\/2\@md {
    width: calc(1/2 * 100%); }
  .w-1\/3\@md {
    width: calc(1/3 * 100%); }
  .w-2\/3\@md {
    width: calc(2/3 * 100%); }
  .w-1\/4\@md {
    width: calc(1/4 * 100%); }
  .w-2\/4\@md {
    width: calc(2/4 * 100%); }
  .w-3\/4\@md {
    width: calc(3/4 * 100%); }
  .w-1\/5\@md {
    width: calc(1/5 * 100%); }
  .w-2\/5\@md {
    width: calc(2/5 * 100%); }
  .w-3\/5\@md {
    width: calc(3/5 * 100%); }
  .w-4\/5\@md {
    width: calc(4/5 * 100%); } }

@media (min-width: 70rem) {
  .w-1\/1\@lg {
    width: 100% !important; }
  .w-1\/2\@lg {
    width: calc(1/2 * 100%); }
  .w-1\/3\@lg {
    width: calc(1/3 * 100%); }
  .w-2\/3\@lg {
    width: calc(2/3 * 100%); }
  .w-1\/4\@lg {
    width: calc(1/4 * 100%); }
  .w-2\/4\@lg {
    width: calc(2/4 * 100%); }
  .w-3\/4\@lg {
    width: calc(3/4 * 100%); }
  .w-1\/5\@lg {
    width: calc(1/5 * 100%); }
  .w-2\/5\@lg {
    width: calc(2/5 * 100%); }
  .w-3\/5\@lg {
    width: calc(3/5 * 100%); }
  .w-4\/5\@lg {
    width: calc(4/5 * 100%); }
  .w-1\/1\@lg {
    width: 100% !important; }
  .w-1\/2\@lg {
    width: calc(1/2 * 100%); }
  .w-1\/3\@lg {
    width: calc(1/3 * 100%); }
  .w-2\/3\@lg {
    width: calc(2/3 * 100%); }
  .w-1\/4\@lg {
    width: calc(1/4 * 100%); }
  .w-2\/4\@lg {
    width: calc(2/4 * 100%); }
  .w-3\/4\@lg {
    width: calc(3/4 * 100%); }
  .w-1\/5\@lg {
    width: calc(1/5 * 100%); }
  .w-2\/5\@lg {
    width: calc(2/5 * 100%); }
  .w-3\/5\@lg {
    width: calc(3/5 * 100%); }
  .w-4\/5\@lg {
    width: calc(4/5 * 100%); }
  .w-1\/1\@lg {
    width: 100% !important; }
  .w-1\/2\@lg {
    width: calc(1/2 * 100%); }
  .w-1\/3\@lg {
    width: calc(1/3 * 100%); }
  .w-2\/3\@lg {
    width: calc(2/3 * 100%); }
  .w-1\/4\@lg {
    width: calc(1/4 * 100%); }
  .w-2\/4\@lg {
    width: calc(2/4 * 100%); }
  .w-3\/4\@lg {
    width: calc(3/4 * 100%); }
  .w-1\/5\@lg {
    width: calc(1/5 * 100%); }
  .w-2\/5\@lg {
    width: calc(2/5 * 100%); }
  .w-3\/5\@lg {
    width: calc(3/5 * 100%); }
  .w-4\/5\@lg {
    width: calc(4/5 * 100%); }
  .w-1\/1\@lg {
    width: 100% !important; }
  .w-1\/2\@lg {
    width: calc(1/2 * 100%); }
  .w-1\/3\@lg {
    width: calc(1/3 * 100%); }
  .w-2\/3\@lg {
    width: calc(2/3 * 100%); }
  .w-1\/4\@lg {
    width: calc(1/4 * 100%); }
  .w-2\/4\@lg {
    width: calc(2/4 * 100%); }
  .w-3\/4\@lg {
    width: calc(3/4 * 100%); }
  .w-1\/5\@lg {
    width: calc(1/5 * 100%); }
  .w-2\/5\@lg {
    width: calc(2/5 * 100%); }
  .w-3\/5\@lg {
    width: calc(3/5 * 100%); }
  .w-4\/5\@lg {
    width: calc(4/5 * 100%); }
  .w-1\/1\@lg {
    width: 100% !important; }
  .w-1\/2\@lg {
    width: calc(1/2 * 100%); }
  .w-1\/3\@lg {
    width: calc(1/3 * 100%); }
  .w-2\/3\@lg {
    width: calc(2/3 * 100%); }
  .w-1\/4\@lg {
    width: calc(1/4 * 100%); }
  .w-2\/4\@lg {
    width: calc(2/4 * 100%); }
  .w-3\/4\@lg {
    width: calc(3/4 * 100%); }
  .w-1\/5\@lg {
    width: calc(1/5 * 100%); }
  .w-2\/5\@lg {
    width: calc(2/5 * 100%); }
  .w-3\/5\@lg {
    width: calc(3/5 * 100%); }
  .w-4\/5\@lg {
    width: calc(4/5 * 100%); } }

@media (min-width: 80rem) {
  .w-1\/1\@xl {
    width: 100% !important; }
  .w-1\/2\@xl {
    width: calc(1/2 * 100%); }
  .w-1\/3\@xl {
    width: calc(1/3 * 100%); }
  .w-2\/3\@xl {
    width: calc(2/3 * 100%); }
  .w-1\/4\@xl {
    width: calc(1/4 * 100%); }
  .w-2\/4\@xl {
    width: calc(2/4 * 100%); }
  .w-3\/4\@xl {
    width: calc(3/4 * 100%); }
  .w-1\/5\@xl {
    width: calc(1/5 * 100%); }
  .w-2\/5\@xl {
    width: calc(2/5 * 100%); }
  .w-3\/5\@xl {
    width: calc(3/5 * 100%); }
  .w-4\/5\@xl {
    width: calc(4/5 * 100%); }
  .w-1\/1\@xl {
    width: 100% !important; }
  .w-1\/2\@xl {
    width: calc(1/2 * 100%); }
  .w-1\/3\@xl {
    width: calc(1/3 * 100%); }
  .w-2\/3\@xl {
    width: calc(2/3 * 100%); }
  .w-1\/4\@xl {
    width: calc(1/4 * 100%); }
  .w-2\/4\@xl {
    width: calc(2/4 * 100%); }
  .w-3\/4\@xl {
    width: calc(3/4 * 100%); }
  .w-1\/5\@xl {
    width: calc(1/5 * 100%); }
  .w-2\/5\@xl {
    width: calc(2/5 * 100%); }
  .w-3\/5\@xl {
    width: calc(3/5 * 100%); }
  .w-4\/5\@xl {
    width: calc(4/5 * 100%); }
  .w-1\/1\@xl {
    width: 100% !important; }
  .w-1\/2\@xl {
    width: calc(1/2 * 100%); }
  .w-1\/3\@xl {
    width: calc(1/3 * 100%); }
  .w-2\/3\@xl {
    width: calc(2/3 * 100%); }
  .w-1\/4\@xl {
    width: calc(1/4 * 100%); }
  .w-2\/4\@xl {
    width: calc(2/4 * 100%); }
  .w-3\/4\@xl {
    width: calc(3/4 * 100%); }
  .w-1\/5\@xl {
    width: calc(1/5 * 100%); }
  .w-2\/5\@xl {
    width: calc(2/5 * 100%); }
  .w-3\/5\@xl {
    width: calc(3/5 * 100%); }
  .w-4\/5\@xl {
    width: calc(4/5 * 100%); }
  .w-1\/1\@xl {
    width: 100% !important; }
  .w-1\/2\@xl {
    width: calc(1/2 * 100%); }
  .w-1\/3\@xl {
    width: calc(1/3 * 100%); }
  .w-2\/3\@xl {
    width: calc(2/3 * 100%); }
  .w-1\/4\@xl {
    width: calc(1/4 * 100%); }
  .w-2\/4\@xl {
    width: calc(2/4 * 100%); }
  .w-3\/4\@xl {
    width: calc(3/4 * 100%); }
  .w-1\/5\@xl {
    width: calc(1/5 * 100%); }
  .w-2\/5\@xl {
    width: calc(2/5 * 100%); }
  .w-3\/5\@xl {
    width: calc(3/5 * 100%); }
  .w-4\/5\@xl {
    width: calc(4/5 * 100%); }
  .w-1\/1\@xl {
    width: 100% !important; }
  .w-1\/2\@xl {
    width: calc(1/2 * 100%); }
  .w-1\/3\@xl {
    width: calc(1/3 * 100%); }
  .w-2\/3\@xl {
    width: calc(2/3 * 100%); }
  .w-1\/4\@xl {
    width: calc(1/4 * 100%); }
  .w-2\/4\@xl {
    width: calc(2/4 * 100%); }
  .w-3\/4\@xl {
    width: calc(3/4 * 100%); }
  .w-1\/5\@xl {
    width: calc(1/5 * 100%); }
  .w-2\/5\@xl {
    width: calc(2/5 * 100%); }
  .w-3\/5\@xl {
    width: calc(3/5 * 100%); }
  .w-4\/5\@xl {
    width: calc(4/5 * 100%); } }

.section {
  clear: both;
  padding-left: 1rem;
  padding-right: 1rem; }
  @media (min-width: 28rem) {
    .section {
      padding-left: 2rem;
      padding-right: 2rem; } }
  @media (min-width: 40rem) {
    .section {
      padding-left: 3rem;
      padding-right: 3rem; } }
  @media (min-width: 70rem) {
    .section {
      padding-left: 7rem;
      padding-right: 7rem; } }
  @media (min-width: 80rem) {
    .section {
      padding-left: calc(50% - 33rem);
      padding-right: calc(50% - 33rem); } }
