@charset "UTF-8";
/* Site width
==================================== */
/* Breakpoints
==================================== */
/* Grid
==================================== */
/* Width
==================================== */
/* Colors
==================================== */
@import url("http://fast.fonts.com/t/1.css?apiType=css&projectid=a4574e90-bf73-4612-8a19-20082fc4b6e8");
@font-face {
  font-family: "Avant Garde";
  src: url("../fonts/85564178-fd88-4387-9226-0e632723ca24.eot?iefix") format("eot"); }

@font-face {
  font-family: "Avant Garde";
  src: url("../fonts/85564178-fd88-4387-9226-0e632723ca24.eot?iefix");
  src: url("../fonts/e9a79553-7093-47c7-8d9c-70dc3619e94b.woff") format("woff"), url("../fonts/7265b8d0-a67c-4a8b-84aa-273d1759270a.ttf") format("truetype"), url("../fonts/75d377f2-28ee-43f8-b231-44f8eba218c4.svg#75d377f2-28ee-43f8-b231-44f8eba218c4") format("svg"); }

*, *:before, *:after {
  box-sizing: border-box; }

body {
  margin: 0;
  background-color: white; }

nav ul {
  list-style: none;
  padding-left: 0;
  margin: 0; }

img {
  max-width: 100%;
  width: auto;
  height: auto; }

ul, ol, dl {
  padding-left: 1.5rem; }

hr {
  border: none;
  height: 1px;
  border: 0;
  border-bottom: 1px dotted silver;
  margin: 2rem 0; }

.row:after,
.section:after,
.cf:after {
  content: "";
  display: table;
  clear: both; }

.invisible {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }

.hidden {
  display: none; }

.mq {
  background-color: rgba(192, 192, 192, 0.8);
  font-family: sans-serif;
  font-weight: bold;
  z-index: 99;
  position: fixed;
  padding: 4px 6px;
  border-radius: 0 0 2px 2px;
  color: rgba(0, 0, 0, 0.8);
  pointer-events: none;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  letter-spacing: 0.05em;
  font-size: 10px; }
  .mq:before {
    margin-right: 1rem; }
  .mq:before {
    content: 'Min: –'; }
  @media (min-width: 30rem) {
    .mq:before {
      content: 'Min: XS'; } }
  @media (min-width: 40rem) {
    .mq:before {
      content: 'Min: SM'; } }
  @media (min-width: 55rem) {
    .mq:before {
      content: 'Min: MD'; } }
  @media (min-width: 75rem) {
    .mq:before {
      content: 'Min: LG'; } }
  @media (min-width: 94rem) {
    .mq:before {
      content: 'Min: XL'; } }
  .mq:after {
    content: 'Max: –'; }
  @media (max-width: 94rem) {
    .mq:after {
      content: 'Max: XL'; } }
  @media (max-width: 75rem) {
    .mq:after {
      content: 'Max: LG'; } }
  @media (max-width: 55rem) {
    .mq:after {
      content: 'Max: MD'; } }
  @media (max-width: 40rem) {
    .mq:after {
      content: 'Max: SM'; } }
  @media (max-width: 30rem) {
    .mq:after {
      content: 'Max: XS'; } }

form ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0; }

form p {
  font-size: 0.875em; }

fieldset {
  border: 0;
  padding: 0;
  margin-bottom: 1.6rem; }

fieldset p {
  font-family: Arial, sans-serif;
  color: gray; }

label {
  font-family: Arial, sans-serif;
  font-size: 0.875em;
  display: inline-block; }

input,
textarea {
  font-family: Arial, sans-serif;
  font-size: 100%;
  width: 100%;
  padding: 0.25em; }

input[size],
input[type="radio"],
input[type="checkbox"] {
  width: auto; }

textarea {
  min-height: 5rem;
  border-color: #ccc;
  border-style: solid; }

body {
  -webkit-font-smoothing: antialiased;
  font-family: Georgia, serif;
  font-size: 100%;
  line-height: 1.6;
  color: black; }
  @media (min-width: 94rem) {
    body {
      font-size: 110%; } }

p {
  margin-bottom: 1.6em;
  margin-top: 0; }

p > a {
  color: darkblue; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: Arial, sans-serif;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  margin: 0; }

h1, .h1 {
  font-size: 1.75em; }
  @media (min-width: 55rem) {
    h1, .h1 {
      font-size: 3em; } }

h2, .h2 {
  font-size: 1.25em; }
  @media (min-width: 55rem) {
    h2, .h2 {
      font-size: 1.5em; } }

h3, .h3 {
  font-size: 1em; }

h4, .h4 {
  font-size: 0.9375em;
  line-height: 1.4;
  letter-spacing: 0.05em;
  text-transform: uppercase; }

h2 + h3 {
  margin-top: 1.6em; }

h1 + p {
  margin-top: 1.6em; }

h2 + p,
h3 + p,
h4 + p {
  margin-top: 0.4em; }

ol, ul, dl {
  font-family: Arial, sans-serif; }

dl {
  padding-left: 0;
  margin-bottom: 1.6em; }

dl > dt {
  font-weight: bold; }

dl > dd {
  margin-left: 0; }

dl > dd + dt {
  margin-top: 0.8em;
  border-top: 1px dotted silver;
  padding-top: 0.8em; }

table {
  width: 100%;
  table-layout: auto;
  text-align: left;
  border-spacing: 0;
  font-family: Arial, sans-serif;
  margin-bottom: 1.6em; }

table > caption {
  text-align: left;
  margin-bottom: 0.8em; }

th, td {
  border-bottom: 1px solid rgba(70, 130, 180, 0.4);
  padding: 0.25em; }

th + th,
th + td,
td + td {
  border-bottom: 1px solid rgba(70, 130, 180, 0.4);
  border-left: 1px solid rgba(70, 130, 180, 0.4); }

thead > tr > th,
thead > tr > td {
  border-top: 1px solid rgba(70, 130, 180, 0.4);
  background-color: lightblue; }

tbody > tr:nth-child(odd) > th,
tbody > tr:nth-child(odd) > td {
  background-color: rgba(173, 216, 230, 0.2); }

tbody > tr:first-child > th,
tbody > tr:first-child > td {
  border-top-color: rgba(70, 130, 180, 0.5); }

pre {
  font-size: 1.125em; }

blockquote {
  margin-left: 0;
  margin-bottom: 1.6em; }

blockquote > footer {
  margin-top: -1em; }

figure {
  margin-left: 0;
  margin-right: 0; }

figure > figcaption {
  font-family: sans-serif;
  font-size: smaller; }

.row {
  max-width: 94rem;
  margin: auto -1rem;
  padding: 0;
  list-style: none; }

.col {
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
  float: left; }

.row--inline {
  letter-spacing: -0.31em !important; }

.row--inline > .col {
  display: inline-block;
  vertical-align: top;
  letter-spacing: normal;
  float: none; }

.row--inline-center {
  letter-spacing: -0.31em !important;
  text-align: center; }

.row--inline-center > .col {
  display: inline-block;
  vertical-align: top;
  letter-spacing: normal;
  float: none;
  text-align: left; }

.row--inline-reverse {
  letter-spacing: -0.31em !important;
  text-align: center;
  direction: rtl; }

.row--inline-reverse > .col {
  display: inline-block;
  vertical-align: top;
  letter-spacing: normal;
  float: none;
  direction: ltr; }

.row--flex {
  display: inline-block;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  letter-spacing: -0.31em !important; }

.row--flex > .col {
  letter-spacing: normal;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto; }

.row--flex > [class^="col--"],
.row--flex > [class*=" col--"] {
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto; }

.row--flex-wrap {
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap; }

.row--flex-start {
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

.row--flex-end {
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.row--flex-center {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.row--flush {
  margin: auto 0; }

.row--flush > .col {
  padding-left: 0;
  padding-right: 0; }

.col--1\/1 {
  width: 100% !important; }

.col--1\/2 {
  width: calc(1/2 * 100%); }

.col--1\/3 {
  width: calc(1/3 * 100%); }

.col--2\/3 {
  width: calc(2/3 * 100%); }

.col--1\/4 {
  width: calc(1/4 * 100%); }

.col--2\/4 {
  width: calc(2/4 * 100%); }

.col--3\/4 {
  width: calc(3/4 * 100%); }

.col--1\/5 {
  width: calc(1/5 * 100%); }

.col--2\/5 {
  width: calc(2/5 * 100%); }

.col--3\/5 {
  width: calc(3/5 * 100%); }

.col--4\/5 {
  width: calc(4/5 * 100%); }

@media (min-width: 30rem) {
  .col--1\/1\@xs {
    width: 100% !important; }
  .col--1\/2\@xs {
    width: calc(1/2 * 100%); }
  .col--1\/3\@xs {
    width: calc(1/3 * 100%); }
  .col--2\/3\@xs {
    width: calc(2/3 * 100%); }
  .col--1\/4\@xs {
    width: calc(1/4 * 100%); }
  .col--2\/4\@xs {
    width: calc(2/4 * 100%); }
  .col--3\/4\@xs {
    width: calc(3/4 * 100%); }
  .col--1\/5\@xs {
    width: calc(1/5 * 100%); }
  .col--2\/5\@xs {
    width: calc(2/5 * 100%); }
  .col--3\/5\@xs {
    width: calc(3/5 * 100%); }
  .col--4\/5\@xs {
    width: calc(4/5 * 100%); }
  .col--1\/1\@xs {
    width: 100% !important; }
  .col--1\/2\@xs {
    width: calc(1/2 * 100%); }
  .col--1\/3\@xs {
    width: calc(1/3 * 100%); }
  .col--2\/3\@xs {
    width: calc(2/3 * 100%); }
  .col--1\/4\@xs {
    width: calc(1/4 * 100%); }
  .col--2\/4\@xs {
    width: calc(2/4 * 100%); }
  .col--3\/4\@xs {
    width: calc(3/4 * 100%); }
  .col--1\/5\@xs {
    width: calc(1/5 * 100%); }
  .col--2\/5\@xs {
    width: calc(2/5 * 100%); }
  .col--3\/5\@xs {
    width: calc(3/5 * 100%); }
  .col--4\/5\@xs {
    width: calc(4/5 * 100%); }
  .col--1\/1\@xs {
    width: 100% !important; }
  .col--1\/2\@xs {
    width: calc(1/2 * 100%); }
  .col--1\/3\@xs {
    width: calc(1/3 * 100%); }
  .col--2\/3\@xs {
    width: calc(2/3 * 100%); }
  .col--1\/4\@xs {
    width: calc(1/4 * 100%); }
  .col--2\/4\@xs {
    width: calc(2/4 * 100%); }
  .col--3\/4\@xs {
    width: calc(3/4 * 100%); }
  .col--1\/5\@xs {
    width: calc(1/5 * 100%); }
  .col--2\/5\@xs {
    width: calc(2/5 * 100%); }
  .col--3\/5\@xs {
    width: calc(3/5 * 100%); }
  .col--4\/5\@xs {
    width: calc(4/5 * 100%); }
  .col--1\/1\@xs {
    width: 100% !important; }
  .col--1\/2\@xs {
    width: calc(1/2 * 100%); }
  .col--1\/3\@xs {
    width: calc(1/3 * 100%); }
  .col--2\/3\@xs {
    width: calc(2/3 * 100%); }
  .col--1\/4\@xs {
    width: calc(1/4 * 100%); }
  .col--2\/4\@xs {
    width: calc(2/4 * 100%); }
  .col--3\/4\@xs {
    width: calc(3/4 * 100%); }
  .col--1\/5\@xs {
    width: calc(1/5 * 100%); }
  .col--2\/5\@xs {
    width: calc(2/5 * 100%); }
  .col--3\/5\@xs {
    width: calc(3/5 * 100%); }
  .col--4\/5\@xs {
    width: calc(4/5 * 100%); }
  .col--1\/1\@xs {
    width: 100% !important; }
  .col--1\/2\@xs {
    width: calc(1/2 * 100%); }
  .col--1\/3\@xs {
    width: calc(1/3 * 100%); }
  .col--2\/3\@xs {
    width: calc(2/3 * 100%); }
  .col--1\/4\@xs {
    width: calc(1/4 * 100%); }
  .col--2\/4\@xs {
    width: calc(2/4 * 100%); }
  .col--3\/4\@xs {
    width: calc(3/4 * 100%); }
  .col--1\/5\@xs {
    width: calc(1/5 * 100%); }
  .col--2\/5\@xs {
    width: calc(2/5 * 100%); }
  .col--3\/5\@xs {
    width: calc(3/5 * 100%); }
  .col--4\/5\@xs {
    width: calc(4/5 * 100%); } }

@media (min-width: 40rem) {
  .col--1\/1\@sm {
    width: 100% !important; }
  .col--1\/2\@sm {
    width: calc(1/2 * 100%); }
  .col--1\/3\@sm {
    width: calc(1/3 * 100%); }
  .col--2\/3\@sm {
    width: calc(2/3 * 100%); }
  .col--1\/4\@sm {
    width: calc(1/4 * 100%); }
  .col--2\/4\@sm {
    width: calc(2/4 * 100%); }
  .col--3\/4\@sm {
    width: calc(3/4 * 100%); }
  .col--1\/5\@sm {
    width: calc(1/5 * 100%); }
  .col--2\/5\@sm {
    width: calc(2/5 * 100%); }
  .col--3\/5\@sm {
    width: calc(3/5 * 100%); }
  .col--4\/5\@sm {
    width: calc(4/5 * 100%); }
  .col--1\/1\@sm {
    width: 100% !important; }
  .col--1\/2\@sm {
    width: calc(1/2 * 100%); }
  .col--1\/3\@sm {
    width: calc(1/3 * 100%); }
  .col--2\/3\@sm {
    width: calc(2/3 * 100%); }
  .col--1\/4\@sm {
    width: calc(1/4 * 100%); }
  .col--2\/4\@sm {
    width: calc(2/4 * 100%); }
  .col--3\/4\@sm {
    width: calc(3/4 * 100%); }
  .col--1\/5\@sm {
    width: calc(1/5 * 100%); }
  .col--2\/5\@sm {
    width: calc(2/5 * 100%); }
  .col--3\/5\@sm {
    width: calc(3/5 * 100%); }
  .col--4\/5\@sm {
    width: calc(4/5 * 100%); }
  .col--1\/1\@sm {
    width: 100% !important; }
  .col--1\/2\@sm {
    width: calc(1/2 * 100%); }
  .col--1\/3\@sm {
    width: calc(1/3 * 100%); }
  .col--2\/3\@sm {
    width: calc(2/3 * 100%); }
  .col--1\/4\@sm {
    width: calc(1/4 * 100%); }
  .col--2\/4\@sm {
    width: calc(2/4 * 100%); }
  .col--3\/4\@sm {
    width: calc(3/4 * 100%); }
  .col--1\/5\@sm {
    width: calc(1/5 * 100%); }
  .col--2\/5\@sm {
    width: calc(2/5 * 100%); }
  .col--3\/5\@sm {
    width: calc(3/5 * 100%); }
  .col--4\/5\@sm {
    width: calc(4/5 * 100%); }
  .col--1\/1\@sm {
    width: 100% !important; }
  .col--1\/2\@sm {
    width: calc(1/2 * 100%); }
  .col--1\/3\@sm {
    width: calc(1/3 * 100%); }
  .col--2\/3\@sm {
    width: calc(2/3 * 100%); }
  .col--1\/4\@sm {
    width: calc(1/4 * 100%); }
  .col--2\/4\@sm {
    width: calc(2/4 * 100%); }
  .col--3\/4\@sm {
    width: calc(3/4 * 100%); }
  .col--1\/5\@sm {
    width: calc(1/5 * 100%); }
  .col--2\/5\@sm {
    width: calc(2/5 * 100%); }
  .col--3\/5\@sm {
    width: calc(3/5 * 100%); }
  .col--4\/5\@sm {
    width: calc(4/5 * 100%); }
  .col--1\/1\@sm {
    width: 100% !important; }
  .col--1\/2\@sm {
    width: calc(1/2 * 100%); }
  .col--1\/3\@sm {
    width: calc(1/3 * 100%); }
  .col--2\/3\@sm {
    width: calc(2/3 * 100%); }
  .col--1\/4\@sm {
    width: calc(1/4 * 100%); }
  .col--2\/4\@sm {
    width: calc(2/4 * 100%); }
  .col--3\/4\@sm {
    width: calc(3/4 * 100%); }
  .col--1\/5\@sm {
    width: calc(1/5 * 100%); }
  .col--2\/5\@sm {
    width: calc(2/5 * 100%); }
  .col--3\/5\@sm {
    width: calc(3/5 * 100%); }
  .col--4\/5\@sm {
    width: calc(4/5 * 100%); } }

@media (min-width: 55rem) {
  .col--1\/1\@md {
    width: 100% !important; }
  .col--1\/2\@md {
    width: calc(1/2 * 100%); }
  .col--1\/3\@md {
    width: calc(1/3 * 100%); }
  .col--2\/3\@md {
    width: calc(2/3 * 100%); }
  .col--1\/4\@md {
    width: calc(1/4 * 100%); }
  .col--2\/4\@md {
    width: calc(2/4 * 100%); }
  .col--3\/4\@md {
    width: calc(3/4 * 100%); }
  .col--1\/5\@md {
    width: calc(1/5 * 100%); }
  .col--2\/5\@md {
    width: calc(2/5 * 100%); }
  .col--3\/5\@md {
    width: calc(3/5 * 100%); }
  .col--4\/5\@md {
    width: calc(4/5 * 100%); }
  .col--1\/1\@md {
    width: 100% !important; }
  .col--1\/2\@md {
    width: calc(1/2 * 100%); }
  .col--1\/3\@md {
    width: calc(1/3 * 100%); }
  .col--2\/3\@md {
    width: calc(2/3 * 100%); }
  .col--1\/4\@md {
    width: calc(1/4 * 100%); }
  .col--2\/4\@md {
    width: calc(2/4 * 100%); }
  .col--3\/4\@md {
    width: calc(3/4 * 100%); }
  .col--1\/5\@md {
    width: calc(1/5 * 100%); }
  .col--2\/5\@md {
    width: calc(2/5 * 100%); }
  .col--3\/5\@md {
    width: calc(3/5 * 100%); }
  .col--4\/5\@md {
    width: calc(4/5 * 100%); }
  .col--1\/1\@md {
    width: 100% !important; }
  .col--1\/2\@md {
    width: calc(1/2 * 100%); }
  .col--1\/3\@md {
    width: calc(1/3 * 100%); }
  .col--2\/3\@md {
    width: calc(2/3 * 100%); }
  .col--1\/4\@md {
    width: calc(1/4 * 100%); }
  .col--2\/4\@md {
    width: calc(2/4 * 100%); }
  .col--3\/4\@md {
    width: calc(3/4 * 100%); }
  .col--1\/5\@md {
    width: calc(1/5 * 100%); }
  .col--2\/5\@md {
    width: calc(2/5 * 100%); }
  .col--3\/5\@md {
    width: calc(3/5 * 100%); }
  .col--4\/5\@md {
    width: calc(4/5 * 100%); }
  .col--1\/1\@md {
    width: 100% !important; }
  .col--1\/2\@md {
    width: calc(1/2 * 100%); }
  .col--1\/3\@md {
    width: calc(1/3 * 100%); }
  .col--2\/3\@md {
    width: calc(2/3 * 100%); }
  .col--1\/4\@md {
    width: calc(1/4 * 100%); }
  .col--2\/4\@md {
    width: calc(2/4 * 100%); }
  .col--3\/4\@md {
    width: calc(3/4 * 100%); }
  .col--1\/5\@md {
    width: calc(1/5 * 100%); }
  .col--2\/5\@md {
    width: calc(2/5 * 100%); }
  .col--3\/5\@md {
    width: calc(3/5 * 100%); }
  .col--4\/5\@md {
    width: calc(4/5 * 100%); }
  .col--1\/1\@md {
    width: 100% !important; }
  .col--1\/2\@md {
    width: calc(1/2 * 100%); }
  .col--1\/3\@md {
    width: calc(1/3 * 100%); }
  .col--2\/3\@md {
    width: calc(2/3 * 100%); }
  .col--1\/4\@md {
    width: calc(1/4 * 100%); }
  .col--2\/4\@md {
    width: calc(2/4 * 100%); }
  .col--3\/4\@md {
    width: calc(3/4 * 100%); }
  .col--1\/5\@md {
    width: calc(1/5 * 100%); }
  .col--2\/5\@md {
    width: calc(2/5 * 100%); }
  .col--3\/5\@md {
    width: calc(3/5 * 100%); }
  .col--4\/5\@md {
    width: calc(4/5 * 100%); } }

@media (min-width: 75rem) {
  .col--1\/1\@lg {
    width: 100% !important; }
  .col--1\/2\@lg {
    width: calc(1/2 * 100%); }
  .col--1\/3\@lg {
    width: calc(1/3 * 100%); }
  .col--2\/3\@lg {
    width: calc(2/3 * 100%); }
  .col--1\/4\@lg {
    width: calc(1/4 * 100%); }
  .col--2\/4\@lg {
    width: calc(2/4 * 100%); }
  .col--3\/4\@lg {
    width: calc(3/4 * 100%); }
  .col--1\/5\@lg {
    width: calc(1/5 * 100%); }
  .col--2\/5\@lg {
    width: calc(2/5 * 100%); }
  .col--3\/5\@lg {
    width: calc(3/5 * 100%); }
  .col--4\/5\@lg {
    width: calc(4/5 * 100%); }
  .col--1\/1\@lg {
    width: 100% !important; }
  .col--1\/2\@lg {
    width: calc(1/2 * 100%); }
  .col--1\/3\@lg {
    width: calc(1/3 * 100%); }
  .col--2\/3\@lg {
    width: calc(2/3 * 100%); }
  .col--1\/4\@lg {
    width: calc(1/4 * 100%); }
  .col--2\/4\@lg {
    width: calc(2/4 * 100%); }
  .col--3\/4\@lg {
    width: calc(3/4 * 100%); }
  .col--1\/5\@lg {
    width: calc(1/5 * 100%); }
  .col--2\/5\@lg {
    width: calc(2/5 * 100%); }
  .col--3\/5\@lg {
    width: calc(3/5 * 100%); }
  .col--4\/5\@lg {
    width: calc(4/5 * 100%); }
  .col--1\/1\@lg {
    width: 100% !important; }
  .col--1\/2\@lg {
    width: calc(1/2 * 100%); }
  .col--1\/3\@lg {
    width: calc(1/3 * 100%); }
  .col--2\/3\@lg {
    width: calc(2/3 * 100%); }
  .col--1\/4\@lg {
    width: calc(1/4 * 100%); }
  .col--2\/4\@lg {
    width: calc(2/4 * 100%); }
  .col--3\/4\@lg {
    width: calc(3/4 * 100%); }
  .col--1\/5\@lg {
    width: calc(1/5 * 100%); }
  .col--2\/5\@lg {
    width: calc(2/5 * 100%); }
  .col--3\/5\@lg {
    width: calc(3/5 * 100%); }
  .col--4\/5\@lg {
    width: calc(4/5 * 100%); }
  .col--1\/1\@lg {
    width: 100% !important; }
  .col--1\/2\@lg {
    width: calc(1/2 * 100%); }
  .col--1\/3\@lg {
    width: calc(1/3 * 100%); }
  .col--2\/3\@lg {
    width: calc(2/3 * 100%); }
  .col--1\/4\@lg {
    width: calc(1/4 * 100%); }
  .col--2\/4\@lg {
    width: calc(2/4 * 100%); }
  .col--3\/4\@lg {
    width: calc(3/4 * 100%); }
  .col--1\/5\@lg {
    width: calc(1/5 * 100%); }
  .col--2\/5\@lg {
    width: calc(2/5 * 100%); }
  .col--3\/5\@lg {
    width: calc(3/5 * 100%); }
  .col--4\/5\@lg {
    width: calc(4/5 * 100%); }
  .col--1\/1\@lg {
    width: 100% !important; }
  .col--1\/2\@lg {
    width: calc(1/2 * 100%); }
  .col--1\/3\@lg {
    width: calc(1/3 * 100%); }
  .col--2\/3\@lg {
    width: calc(2/3 * 100%); }
  .col--1\/4\@lg {
    width: calc(1/4 * 100%); }
  .col--2\/4\@lg {
    width: calc(2/4 * 100%); }
  .col--3\/4\@lg {
    width: calc(3/4 * 100%); }
  .col--1\/5\@lg {
    width: calc(1/5 * 100%); }
  .col--2\/5\@lg {
    width: calc(2/5 * 100%); }
  .col--3\/5\@lg {
    width: calc(3/5 * 100%); }
  .col--4\/5\@lg {
    width: calc(4/5 * 100%); } }

@media (min-width: 94rem) {
  .col--1\/1\@xl {
    width: 100% !important; }
  .col--1\/2\@xl {
    width: calc(1/2 * 100%); }
  .col--1\/3\@xl {
    width: calc(1/3 * 100%); }
  .col--2\/3\@xl {
    width: calc(2/3 * 100%); }
  .col--1\/4\@xl {
    width: calc(1/4 * 100%); }
  .col--2\/4\@xl {
    width: calc(2/4 * 100%); }
  .col--3\/4\@xl {
    width: calc(3/4 * 100%); }
  .col--1\/5\@xl {
    width: calc(1/5 * 100%); }
  .col--2\/5\@xl {
    width: calc(2/5 * 100%); }
  .col--3\/5\@xl {
    width: calc(3/5 * 100%); }
  .col--4\/5\@xl {
    width: calc(4/5 * 100%); }
  .col--1\/1\@xl {
    width: 100% !important; }
  .col--1\/2\@xl {
    width: calc(1/2 * 100%); }
  .col--1\/3\@xl {
    width: calc(1/3 * 100%); }
  .col--2\/3\@xl {
    width: calc(2/3 * 100%); }
  .col--1\/4\@xl {
    width: calc(1/4 * 100%); }
  .col--2\/4\@xl {
    width: calc(2/4 * 100%); }
  .col--3\/4\@xl {
    width: calc(3/4 * 100%); }
  .col--1\/5\@xl {
    width: calc(1/5 * 100%); }
  .col--2\/5\@xl {
    width: calc(2/5 * 100%); }
  .col--3\/5\@xl {
    width: calc(3/5 * 100%); }
  .col--4\/5\@xl {
    width: calc(4/5 * 100%); }
  .col--1\/1\@xl {
    width: 100% !important; }
  .col--1\/2\@xl {
    width: calc(1/2 * 100%); }
  .col--1\/3\@xl {
    width: calc(1/3 * 100%); }
  .col--2\/3\@xl {
    width: calc(2/3 * 100%); }
  .col--1\/4\@xl {
    width: calc(1/4 * 100%); }
  .col--2\/4\@xl {
    width: calc(2/4 * 100%); }
  .col--3\/4\@xl {
    width: calc(3/4 * 100%); }
  .col--1\/5\@xl {
    width: calc(1/5 * 100%); }
  .col--2\/5\@xl {
    width: calc(2/5 * 100%); }
  .col--3\/5\@xl {
    width: calc(3/5 * 100%); }
  .col--4\/5\@xl {
    width: calc(4/5 * 100%); }
  .col--1\/1\@xl {
    width: 100% !important; }
  .col--1\/2\@xl {
    width: calc(1/2 * 100%); }
  .col--1\/3\@xl {
    width: calc(1/3 * 100%); }
  .col--2\/3\@xl {
    width: calc(2/3 * 100%); }
  .col--1\/4\@xl {
    width: calc(1/4 * 100%); }
  .col--2\/4\@xl {
    width: calc(2/4 * 100%); }
  .col--3\/4\@xl {
    width: calc(3/4 * 100%); }
  .col--1\/5\@xl {
    width: calc(1/5 * 100%); }
  .col--2\/5\@xl {
    width: calc(2/5 * 100%); }
  .col--3\/5\@xl {
    width: calc(3/5 * 100%); }
  .col--4\/5\@xl {
    width: calc(4/5 * 100%); }
  .col--1\/1\@xl {
    width: 100% !important; }
  .col--1\/2\@xl {
    width: calc(1/2 * 100%); }
  .col--1\/3\@xl {
    width: calc(1/3 * 100%); }
  .col--2\/3\@xl {
    width: calc(2/3 * 100%); }
  .col--1\/4\@xl {
    width: calc(1/4 * 100%); }
  .col--2\/4\@xl {
    width: calc(2/4 * 100%); }
  .col--3\/4\@xl {
    width: calc(3/4 * 100%); }
  .col--1\/5\@xl {
    width: calc(1/5 * 100%); }
  .col--2\/5\@xl {
    width: calc(2/5 * 100%); }
  .col--3\/5\@xl {
    width: calc(3/5 * 100%); }
  .col--4\/5\@xl {
    width: calc(4/5 * 100%); } }

.blockgrid {
  display: inline-block;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  letter-spacing: -0.31em !important;
  word-spacing: -0.43em !important;
  margin: auto -1rem;
  padding: 0;
  list-style: none; }
  .blockgrid > * {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    letter-spacing: normal;
    word-spacing: normal;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%; }
  .blockgrid--1\/2 > * {
    width: calc(1/2 * 100%); }
  .blockgrid--1\/3 > * {
    width: calc(1/3 * 100%); }
  .blockgrid--1\/4 > * {
    width: calc(1/4 * 100%); }
  .blockgrid--1\/5 > * {
    width: calc(1/5 * 100%); }
  @media (min-width: 30rem) {
    .blockgrid--1\/2\@xs > * {
      width: calc(1/2 * 100%); } }
  @media (min-width: 30rem) {
    .blockgrid--1\/3\@xs > * {
      width: calc(1/3 * 100%); } }
  @media (min-width: 30rem) {
    .blockgrid--1\/4\@xs > * {
      width: calc(1/4 * 100%); } }
  @media (min-width: 30rem) {
    .blockgrid--1\/5\@xs > * {
      width: calc(1/5 * 100%); } }
  @media (min-width: 40rem) {
    .blockgrid--1\/2\@sm > * {
      width: calc(1/2 * 100%); } }
  @media (min-width: 40rem) {
    .blockgrid--1\/3\@sm > * {
      width: calc(1/3 * 100%); } }
  @media (min-width: 40rem) {
    .blockgrid--1\/4\@sm > * {
      width: calc(1/4 * 100%); } }
  @media (min-width: 40rem) {
    .blockgrid--1\/5\@sm > * {
      width: calc(1/5 * 100%); } }
  @media (min-width: 55rem) {
    .blockgrid--1\/2\@md > * {
      width: calc(1/2 * 100%); } }
  @media (min-width: 55rem) {
    .blockgrid--1\/3\@md > * {
      width: calc(1/3 * 100%); } }
  @media (min-width: 55rem) {
    .blockgrid--1\/4\@md > * {
      width: calc(1/4 * 100%); } }
  @media (min-width: 55rem) {
    .blockgrid--1\/5\@md > * {
      width: calc(1/5 * 100%); } }
  @media (min-width: 75rem) {
    .blockgrid--1\/2\@lg > * {
      width: calc(1/2 * 100%); } }
  @media (min-width: 75rem) {
    .blockgrid--1\/3\@lg > * {
      width: calc(1/3 * 100%); } }
  @media (min-width: 75rem) {
    .blockgrid--1\/4\@lg > * {
      width: calc(1/4 * 100%); } }
  @media (min-width: 75rem) {
    .blockgrid--1\/5\@lg > * {
      width: calc(1/5 * 100%); } }
  @media (min-width: 94rem) {
    .blockgrid--1\/2\@xl > * {
      width: calc(1/2 * 100%); } }
  @media (min-width: 94rem) {
    .blockgrid--1\/3\@xl > * {
      width: calc(1/3 * 100%); } }
  @media (min-width: 94rem) {
    .blockgrid--1\/4\@xl > * {
      width: calc(1/4 * 100%); } }
  @media (min-width: 94rem) {
    .blockgrid--1\/5\@xl > * {
      width: calc(1/5 * 100%); } }

.section {
  clear: both;
  padding-left: 1rem;
  padding-right: 1rem; }
  @media (min-width: 30rem) {
    .section {
      padding-left: 2rem;
      padding-right: 2rem; } }
  @media (min-width: 40rem) {
    .section {
      padding-left: 3rem;
      padding-right: 3rem; } }
  @media (min-width: 75rem) {
    .section {
      padding-left: 7rem;
      padding-right: 7rem; } }
  @media (min-width: 94rem) {
    .section {
      padding-left: calc(50% - 40rem);
      padding-right: calc(50% - 40rem); } }

.media {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start; }

.media__thumb {
  margin-right: 1rem;
  vertical-align: top;
  margin-top: 0.4rem; }

.media__body {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.media--reverse > .media__thumb {
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  margin-right: 0;
  margin-left: 1rem; }

.icon,
[class^="icon"],
[class*=" icon"] {
  vertical-align: text-top;
  display: inline-block;
  width: 1.25em;
  height: 1.25em;
  fill: currentColor; }
