

/* Site width
==================================== */

$site-width: 94rem;
$space: 2rem;





/* Breakpoints
==================================== */

$breakpoints: (
	xs: 30rem,
	sm: 40rem,
	md: 55rem,
	lg: 75rem,
	xl: 94rem
);






/* Grid
==================================== */

$grid-columns: 12;
$grid-gutter: $space;




/* Width
==================================== */

$widths: (
	1,
	2,
	3,
	4,
	5
);



/* Colors
==================================== */



$colors: (
	white: white,
	black: black
);
