

/* Site width
==================================== */

$site-width: 80rem;
$space: 2rem;





/* Breakpoints
==================================== */

$breakpoints: (
	xs: 28,
	sm: 40,
	md: 54,
	lg: 70,
	xl: 80
);






/* Grid
==================================== */

$grid-columns: 12;
$grid-gutter: $space;




/* Width
==================================== */

$widths: (
	1,
	2,
	3,
	4,
	5
);



/* Colors
==================================== */



$colors: (
	white: white,
	black: black
);
