

/* Site width
==================================== */

$site-width: 94rem;
$space: 2rem;





/* Breakpoints
==================================== */

$breakpoints: (
	xs: 30,
	sm: 40,
	md: 55,
	lg: 75,
	xl: 94
);






/* Grid
==================================== */

$grid-columns: 12;
$grid-gutter: $space;




/* Width
==================================== */

$widths: (
	1,
	2,
	3,
	4,
	5
);



/* Colors
==================================== */



$colors: (
	white: white,
	black: black
);
