<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    {% if title %}
    {{ title }} &ndash;
    {% endif %}
    {{ site.title }}
  </title>
  <meta name="description" content="{{ description | safe or '' }}" />
  <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2299%22>{{ favicon or '🧑‍💻' }}</text></svg>" />
  {% css %}{% include "../assets/main.css" %}{% endcss %}
  <link rel="stylesheet" href="{% getBundleFileUrl 'css' %}">
</head>
<body>
  {% block content %}
  {% endblock %}
</body>
</html>
