.blockgrid {
	display: inline-block;
	display: flex;
	flex-flow: row wrap;
	letter-spacing: -0.31em !important;
	word-spacing: -0.43em !important;
	margin: auto (($grid-gutter / 2) * -1);
	padding: 0;
	list-style: none;

	> * {
		flex: 1 1 auto;
		letter-spacing: normal;
		word-spacing: normal;
		padding-left: ($grid-gutter / 2);
		padding-right: ($grid-gutter / 2);
		width: 100%;
	}

	&--1\/2 > * { width: calc(1/2 * 100%); }
	&--1\/3 > * { width: calc(1/3 * 100%); }
	&--1\/4 > * { width: calc(1/4 * 100%); }
	&--1\/5 > * { width: calc(1/5 * 100%); }

	&--1\/2\@xs > * { @include media-query(xs) { width: calc(1/2 * 100%); } }
	&--1\/3\@xs > * { @include media-query(xs) { width: calc(1/3 * 100%); } }
	&--1\/4\@xs > * { @include media-query(xs) { width: calc(1/4 * 100%); } }
	&--1\/5\@xs > * { @include media-query(xs) { width: calc(1/5 * 100%); } }

	&--1\/2\@sm > * { @include media-query(sm) { width: calc(1/2 * 100%); } }
	&--1\/3\@sm > * { @include media-query(sm) { width: calc(1/3 * 100%); } }
	&--1\/4\@sm > * { @include media-query(sm) { width: calc(1/4 * 100%); } }
	&--1\/5\@sm > * { @include media-query(sm) { width: calc(1/5 * 100%); } }

	&--1\/2\@md > * { @include media-query(md) { width: calc(1/2 * 100%); } }
	&--1\/3\@md > * { @include media-query(md) { width: calc(1/3 * 100%); } }
	&--1\/4\@md > * { @include media-query(md) { width: calc(1/4 * 100%); } }
	&--1\/5\@md > * { @include media-query(md) { width: calc(1/5 * 100%); } }

	&--1\/2\@lg > * { @include media-query(lg) { width: calc(1/2 * 100%); } }
	&--1\/3\@lg > * { @include media-query(lg) { width: calc(1/3 * 100%); } }
	&--1\/4\@lg > * { @include media-query(lg) { width: calc(1/4 * 100%); } }
	&--1\/5\@lg > * { @include media-query(lg) { width: calc(1/5 * 100%); } }

	&--1\/2\@xl > * { @include media-query(xl) { width: calc(1/2 * 100%); } }
	&--1\/3\@xl > * { @include media-query(xl) { width: calc(1/3 * 100%); } }
	&--1\/4\@xl > * { @include media-query(xl) { width: calc(1/4 * 100%); } }
	&--1\/5\@xl > * { @include media-query(xl) { width: calc(1/5 * 100%); } }
}

