// Grid + Width = ♥
// ====================================


// Float
.row {
	max-width: $site-width;
	margin: auto -($grid-gutter / 2);
	list-style: none;
	padding: 0;
}
.col {
	padding-left: ($grid-gutter / 2);
	padding-right: ($grid-gutter / 2);
	width: 100%;
	float: left;
}



// Inline-Block
.row--inline {
	display: inline-block;
	letter-spacing: -0.31em !important;
	word-spacing: -0.43em !important;
}
.row--inline > .col {
	letter-spacing: normal;
	word-spacing: normal;
}



// Flex
.row--flex {
	display: inline-block;
	display: flex;
	letter-spacing: -0.31em !important;
	word-spacing: -0.43em !important;
}
.row--flex > .col {
	letter-spacing: normal;
	word-spacing: normal;
	flex: 1 1 auto;
}


.col {
	outline: 1px solid black;
}




.row--flush {
	margin: auto 0;
}
.row--flush > .col {
	padding-left: 0;
	padding-right: 0;
}
