// Grid + Width = ♥
// ====================================


// Float
.row {
	@extend %clearfix;
	max-width: $site-width;
	margin: auto (($grid-gutter / 2) * -1);
	padding: 0;
	list-style: none;
}
.col {
	padding-left: ($grid-gutter / 2);
	padding-right: ($grid-gutter / 2);
	width: 100%;
	float: left;
}



// Inline-Block
.row--inline {
	letter-spacing: -0.31em !important;
}
.row--inline > .col {
	display: inline-block;
	vertical-align: top;
	letter-spacing: normal;
	float: none;
}




// Inline-Block Center
.row--inline-center {
	letter-spacing: -0.31em !important;
	text-align: center;
}
.row--inline-center > .col {
	display: inline-block;
	vertical-align: top;
	letter-spacing: normal;
	float: none;
	text-align: left;
}




// Inline-Block Reverse
.row--inline-reverse {
	letter-spacing: -0.31em !important;
	text-align: center;
	direction: rtl;
}
.row--inline-reverse > .col {
	display: inline-block;
	vertical-align: top;
	letter-spacing: normal;
	float: none;
	direction: ltr;
}




// Flex
.row--flex {
	display: inline-block;
	display: flex;
	letter-spacing: -0.31em !important;
}
.row--flex > .col {
	letter-spacing: normal;
	flex: 1 1 auto;
}



// No padding

.row--flush {
	margin: auto 0;
}
.row--flush > .col {
	padding-left: 0;
	padding-right: 0;
}
