$site-half: $site-width / 2 - 7;


.section {
    @extend %clearfix;
    clear: both;
    padding-left: 1rem;
    padding-right: 1rem;

    @include media-query(xs) {
        padding-left: 7%;
        padding-right: 7%;
    }
    @include media-query(xl) {
        padding-left: calc(50% - #{$site-half});
        padding-right: calc(50% - #{$site-half});
    }


    &--split {
        padding: 0;

        @include media-query(md) {
            table-layout: fixed;
            display: table;
        }
    }
    &__part {
        background-color: rgba(lightblue, 0.5);
        vertical-align: top;
        padding-left: 1rem;
        padding-right: 1rem;

        @include media-query(xs) {
            padding-left: 7%;
            padding-right: 7%;
        }
        @include media-query(md) {
            display: table-cell;
            background-color: rgba(lightblue, 0.25);
            padding-left: 7%;
            padding-right: $space;
        }
        @include media-query(xl) {
            padding-left: calc(50% - #{$site-half});
        }
    }
    &__part + &__part {
        @include media-query(md) {
            background-color: rgba(lightblue, 0.75);
            padding-left: $space;
            padding-right: 7%;
        }
        @include media-query(xl) {
            padding-right: calc(50% - #{$site-half});
        }
    }
}
