
$widths: (
	1,
	2,
	3,
	4,
	5
) !default;


@mixin width($widths, $breakpoint: null) {
	@each $den in $widths {
		@if ($den == 1) {

			.w-1\/1#{$breakpoint} {
				width: 100% !important;
			}

		} @else {
			@for $num from 1 to $den {

				.w-#{$num}\/#{$den}#{$breakpoint} {
					width: calc(#{$num}/#{$den} * 100%);
				}

			}
		}
	}
}

// This mixin generates classes like this '.w-1/2'

@include width($widths);




// Responsive

@each $breakpoint in $breakpoints {
	$alias: nth($breakpoint, 1);

	// This mixin generates classes like this '.w-1/2@md'
	@include media-query($alias) {
		@each $width in $widths {
			@include width($widths, \@#{$alias});
		}
	}
}
