



// Clear Stuff
// ====================================

%clearfix,
.cf {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}




// Hide Stuff
// ====================================

// Hide just visually
.invisible {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}

// Hide from screen readers
.hidden {
	display: none;
}







// Media Queries Helper

.mq {
	background-color: deeppink;
	font-family: sans-serif;
	font-weight: bold;
	z-index: 99;
	position: fixed;
	padding: 4px 6px 2px 6px;
	border-radius: 2px 0 0 0;
	color: darkblue;
	bottom: 0;
	right: 0;
	letter-spacing: 0.05em;
	font-size: 10px;

	&:before { margin-right: 1rem; }

	&:before { content: 'Min: –'}
	@include media-query(xs) { &:before { content: 'Min: XS'} }
	@include media-query(sm) { &:before { content: 'Min: SM'} }
	@include media-query(md) { &:before { content: 'Min: MD'} }
	@include media-query(lg) { &:before { content: 'Min: LG'} }
	@include media-query(xl) { &:before { content: 'Min: XL'} }

	&:after { content: 'Max: –' }
	@include media-query(xl, max) { &:after { content: 'Max: XL' } }
	@include media-query(lg, max) { &:after { content: 'Max: LG' } }
	@include media-query(md, max) { &:after { content: 'Max: MD' } }
	@include media-query(sm, max) { &:after { content: 'Max: SM' } }
	@include media-query(xs, max) { &:after { content: 'Max: XS' } }
}
