.media {
	display: flex;
	align-items: flex-start;
}
.media__thumb {
	margin-right: 1rem;
	vertical-align: top;
	margin-top: 0.4rem;
}
.media__body { flex: 1; }

.media--reverse > .media__thumb {
	order: 1;
	margin-right: 0;
	margin-left: 1rem;
}
